@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,600");
/* Colors */
/* Spacing */
/* Font */
/* Font size */
/* Screen widths */
.rating {
  margin-top: 10px;
  line-height: 1; }
  .rating .rating__star {
    display: inline-block;
    vertical-align: middle;
    width: 20px; }
  .rating .rating__star--half {
    width: 10px; }
  .rating .rating__total {
    display: inline-block;
    margin-left: 10px;
    vertical-align: middle;
    font-size: 12px;
    color: #5c5c5c; }
