@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,600");
/* Colors */
/* Spacing */
/* Font */
/* Font size */
/* Screen widths */
.icon {
  display: inline-block;
  vertical-align: middle;
  fill: currentColor;
  margin: 0;
  stroke: currentColor; }
