@import '../../styles/variables.scss';

.icon {
  display: inline-block;
  vertical-align: middle;
  fill: currentColor;
  margin: 0;
  stroke: currentColor;
}
// .icon svg {
//   transform-origin: 50% 50% 0px;
// }