@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,600");
/* Colors */
/* Spacing */
/* Font */
/* Font size */
/* Screen widths */
.input {
  padding: 5px 10px;
  border: 0;
  min-height: 35px; }
